<header class="header">
  <div class="container">
    <div class="logo left">
      <a href="{{ site.url }}"><img src="assets/images/logo-big@2x.png"></a>
    </div>
    <nav class="right">
      <ul>
        <li>
          <a href="{{ site.baseurl }}" {% if page.url == '/index.html' %}class="current"{% endif %}>Delivery API</a>
        </li>
        <li>
          <a href="{{ site.baseurl}}management-api.html" {% if page.url == '/management-api.html' %}class="current"{% endif %}>Management API</a>
        </li>
        <li><a href="/docs/youtube-example">Examples</a></li>
      </ul>
    </nav>
  </div>
</header>
