<div class="sidebar left">
	<ul>
		<h3><a href="#introduction">Introduction</a></h3>
		<li><a href="#getting-started">Getting Started</a></li>
		<li><a href="#making-requests">Making Requests</a></li>
		<li><a href="#available-resources">Available Resources</a></li>
	</ul>

	<ul>
		<h3><a href="#crud-operations">CRUD Operations</a></h3>
		<li><a href="#post--update">POST &amp; UPDATE</a></li>
		<li><a href="#delete">DELETE</a></li>
	</ul>

	<ul>
		<h3><a href="#user-resource">User</a></h3>
		<li><a href="#">POST</a></li>
		<li><a href="#">UPDATE</a></li>
		<li><a href="#">DELETE</a></li>
	</ul>

	<ul>
		<h3><a href="#braid-resource">Braid</a></h3>
		<li><a href="#">POST</a></li>
		<li><a href="#">UPDATE</a></li>
		<li><a href="#">DELETE</a></li>
	</ul>

	<ul>
		<h3><a href="#thread-resource">Thread</a></h3>
		<li><a href="#">POST</a></li>
		<li><a href="#">UPDATE</a></li>
		<li><a href="#">DELETE</a></li>
	</ul>

	<ul>
		<h3><a href="#modifier-resource">Modifier</a></h3>
		<li><a href="#">POST</a></li>
		<li><a href="#">UPDATE</a></li>
		<li><a href="#">Attach a Modifier</a></li>
		<li><a href="#">Remove a Modifier</a></li>
		<li><a href="#">DELETE</a></li>
	</ul>

	<ul>
		<h3><a href="#entries-resource">Entries</a></h3>
		<li><a href="#">UPDATE</a></li>
		<li><a href="#">DELETE</a></li>
	</ul>


</div>